@charset "utf-8";

* {
    margin:0;
    padding:0;
}
body {
    background: rgb(235,235,235);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
a {
    text-decoration: none;
}
#top {
    background-color: rgb(220,75,73);
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#topwrap {
    background: rgb(50,40,71);
}
header {
    height: 130px;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
header img {
    float: left;
    margin: 15px 0 15px 15px;
    height: 100px;
    width: 120px;
}
#name {
    float: left;
    color: white;
}
#name h1 {
    font-size: 3em;
    text-shadow: 3px 3px 3px rgb(0,0,0);
}
#name h2 {
    font-weight: normal;
    text-shadow: 2px 2px 2px black;
}
#info {
    float: right;
}