@charset "utf-8";

* {
    margin:0;
    padding:0;
}
body {
    background: rgb(235,235,235);
}
#top {
    background-color: rgb(220,75,73);
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#topwrap {
    background: rgb(50,40,71);
}